body {
  background: #ff2e0d;

  padding: 2rem;
  height: 100vh;
  overflow: hidden;
}

#root {
  margin: auto;
  max-width: 1280px;
}

.content-container {
  margin: auto;
  display: flex;
  align-items: center;
}

.content {
  font-family: "Norwester", sans-serif;
  text-align: start;
  color: #fbe0c5;
  background: linear-gradient(to bottom, #ff2e0d 0%, #730000 100%);
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 100%;
}

a {
  color: #58a6ff;
}

@media screen and (max-width: 768px) {
  body {
    height: 100%;
    overflow: auto;
  }

  .logo {
    width: 100%;
  }
  .content-container {
    flex-direction: column;
  }
}
